{% extends "base.html" %}
{% load cloudinary %}
{% load static %}

<!-- Home for auth users -->
{% block body %}


    <!-- Message from django will be printed here -->
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-secondary alert-dismissible shadow-inset fade show" role="alert">
                    <span
                            class="alert-inner--icon"><span class="fas fa-exclamation-circle"></span></span> <span
                    class="alert-inner--text"><strong>Action!</strong> {{ message }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
            </div>
        {% endfor %}
    {% endif %}





    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">



          <a class="navbar-brand" href="{% url 'home' %}"><h2>zizo pixels <em>.</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>


          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>


              <li class="nav-item">
               <a class="nav-link" href="{% url 'add_blog'  %}">
        <span style="font-size: 1.5em; ">
                   <i class="fas fa-plus-square"></i>
        </span>
               </a>
              </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Activities
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'favorites' %}">Favorites</a>
              <a class="dropdown-item" href="{% url 'my_followed' %}">My followed</a>
             <a class="dropdown-item" href="{% url 'my_blogs' %}">My Blogs</a>
            <a class="dropdown-item" href="{% url 'my_followers' user.id%}">My followers</a>
        </div>
      </li>



                <li>
                   <a href="{% url 'profile' user.id %}" >
            {% if  avatar.avatar.url  == None %}
                 <img src=" https://res.cloudinary.com/drp0eidwz/image/upload/v1619068825/media/profile_pgiwth.png" alt="" style=" width: 50px;
              height: 50px;
              border-radius: 50%; /*don't forget prefixes*/

              background-position: center center;
              /* as mentioned by Vad: */
              background-size: cover;">
            {% else %}
                <img src="{{ avatar.avatar.url }}" alt="" style=" width: 50px;
              height: 50px;
              border-radius: 50%; /*don't forget prefixes*/

              background-position: center center;
              /* as mentioned by Vad: */
              background-size: cover;">
            {% endif %}
                   <span  style="font-size: 2em; color: dimgray;">
                        <i class="fas fa-sort-down"></i>
                  </span>
       </a>

                </li>

            </ul>






          </div>




        </div>
      </nav>
    </header>





<br>
    <br>



    <section class="blog-posts">




      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="all-blog-posts">
              <div class="row">

 {% for blogs in blogs %}
                <div class="col-lg-12">
                  <div class="blog-post">
                    <div class="blog-thumb">
                        <a href="{% url 'read_more' blogs.id %}">
                      <img src="{{ blogs.image.url }}" alt="">
                        </a>
                    </div>
                    <div class="down-content">
                        <a href="{% url 'read_more' blogs.id %}">
                      <span>  {{ blogs.title }}</span>
                            </a>

                      <ul class="post-info">
                        <li><a href="{% url 'user' blogs.id %}">


                            {{ blogs.user}}</a></li>
                        <li><a href="#">{{ blogs.created }}</a></li>

                      </ul>



                    




                      <p>
                          {{ blogs.content|safe|truncatewords:"20"|linebreaks}}
  <a href="{% url 'read_more' blogs.id %}"> read more </a> </p>

                           </p>


                         <div class="post-options">
                        <div class="row">
                          <div class="col-6">
                            <ul class="post-tags">
                              <li><i class="fa fa-tags"></i></li>

                              <li><a href="#">{{ blogs.category }}</a></li>
                            </ul>
                          </div>
                          <div class="col-6">
                            <ul class="post-share">
                              <li><i class="fa fa-share-alt"></i></li>
                              <li><a href="#">Facebook</a>,</li>
                              <li><a href="#"> Twitter</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>



       {% endfor %}


    <!--Pagination-->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
        {% if blogs.has_previous %}
            <li class="page-item">
            <a class="page-link" href="?page={{ blogs.previous_page_number }}">Previous</a>
          </li>
        {% else %}
            <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
        {% endif %}

        {% if blogs.number|add:'-4' > 1 %}
            <li class="page-item"><a class="page-link" href="?page={{ blogs.number|add:'-5' }}">&hellip;</a></li>
        {% endif %}

        {% for i in blogs.paginator.page_range %}
            {% if blogs.number == i %}
                <li class="page-item active" aria-current="page">
              <span class="page-link">
                {{ i }}
                <span class="sr-only">(current)</span>
              </span>
            </li>
            {% elif i > blogs.number|add:'-5' and i < blogs.number|add:'5' %}
                 <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if blogs.paginator.num_pages > blogs.number|add:'4' %}
           <li class="page-item"><a class="page-link" href="?page={{ blogs.number|add:'5' }}">&hellip;</a></li>
        {% endif %}

        {% if blogs.has_next %}
            <li class="page-item">
            <a class="page-link" href="?page={{ blogs.next_page_number }}">Next</a>
          </li>
        {% else %}
            <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
          </li>
        {% endif %}
      </ul>
    </nav>
    <!--end of Pagination-->

              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="sidebar">
              <div class="row">
                <div class="col-lg-12">



                  <div class="sidebar-item search">
                    <form id="search_form" name="gs"  action="{%url 'search_by_blog_title' %}">
                      <input type="text" name="title" class="searchText" placeholder="type to search..." autocomplete="on">
                    </form>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item recent-posts">
                    <div class="sidebar-heading">


                      <h2>Recent Posts</h2>


                    </div>
                    <div class="content">

                        {% for recent_blogs in recent_blogs %}
                      <ul>
                        <li><a href="{% url 'read_more' recent_blogs.id %}">
                          <h5>{{ recent_blogs.title }}</h5>
                          <span>{{ recent_blogs.created }}</span>
                        </a></li>
                      </ul>
                        {% endfor %}

                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item categories">
                    <div class="sidebar-heading">
                      <h2>Categories</h2>
                    </div>
                    <div class="content">
                      <ul>
                         <li><a href="{% url 's_by_Sports' %}" >- Sports ( working )</a></li>
                        <li><a href="#">- Awesome Layouts</a></li>
                        <li><a href="#">- Creative Ideas</a></li>
                        <li><a href="#">- Responsive Templates</a></li>
                        <li><a href="#">- HTML5 / CSS3 Templates</a></li>
                        <li><a href="#">- Creative &amp; Unique</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item tags">
                    <div class="sidebar-heading">
                      <h2>Tags ( Comming soon )</h2>
                    </div>
                    <div class="content">
                      <ul>
                        <li><a href="#">Lifestyle</a></li>
                        <li><a href="#">Creative</a></li>
                        <li><a href="#">Computer science</a></li>
                        <li><a href="#">Inspiration</a></li>
                        <li><a href="#">Motivation</a></li>
                        <li><a href="#">Bitcoin</a></li>
                        <li><a href="#">Freelancing</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <footer>

<div class="container">

<button type="button" class="btn btn-info btn-circle btn-xl" data-toggle="tooltip" data-placement="top" title="Blogs">
 {{ count_all_blogs }}
</button>


 <button type="button" class="btn btn-warning btn-circle btn-xl" data-toggle="tooltip" data-placement="top" title="Users">
{{ count_all_users }}
 </button>

</div>

<br>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <ul class="social-icons">
              <li><a href="#">Facebook</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Behance</a></li>
              <li><a href="#">Linkedin</a></li>
              <li><a href="#">Dribbble</a></li>
            </ul>
          </div>


          <div class="col-lg-12">
            <div class="copyright-text">
              <p>Copyright 2021 Stand
                  | zizopixels </p>
            </div>
          </div>
        </div>
      </div>
    </footer>



{% endblock %}
