{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>
            zizo blogs
    </title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


 <link href="{% static 'style.css' %}" rel="stylesheet">
 <link href="{% static 'flex-slider.css' %}" rel="stylesheet">
{# <link href="{% static 'fontawesome.css' %}" rel="stylesheet">#}
{# <link href="{% static 'owl.css' %}" rel="stylesheet">#}
 <link href="{% static 'templatemo-stand-blog.css' %}" rel="stylesheet">



<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>


 <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">





</head>
<body>







    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="{% url 'index' %}"><h2>zizo pixels <em>.</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                  <a class="nav-link" href="{% url 'login' %}">
                        <button type="button" class="btn btn-info"> Login</button>
                  </a>
                </li>

                 <li class="nav-item">

          <a class="nav-link" href="{% url 'signup' %}">
               <button type="button" class="btn btn-info">  Signup</button>

          </a>
                 </li>

            </ul>
          </div>
        </div>
      </nav>
    </header>

<br>
    <br>



    <section class="blog-posts">




      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="all-blog-posts">
              <div class="row">

 {% for blogs in blogs %}
                <div class="col-lg-12">
                  <div class="blog-post">
                    <div class="blog-thumb">
                        <a href="{% url 'read_more' blogs.id %}">
                      <img src="{{ blogs.image.url }}" alt="">
                        </a>
                    </div>
                    <div class="down-content">
                        <a href="{% url 'read_more' blogs.id %}">
                      <span>  {{ blogs.title }}</span>
                            </a>

                      <ul class="post-info">
                        <li><a href="{% url 'user' blogs.id %}">


                            {{ blogs.user}}</a></li>
                        <li><a href="#">{{ blogs.created }}</a></li>

                      </ul>
                      <p>{{ blogs.content }} <a href="{% url 'read_more' blogs.id %}"> read more </a> </p>
                      <div class="post-options">
                        <div class="row">
                          <div class="col-6">
                            <ul class="post-tags">
                              <li><i class="fa fa-tags"></i></li>

                              <li><a href="#">{{ blogs.category }}</a></li>
                            </ul>
                          </div>
                          <div class="col-6">
                            <ul class="post-share">
                              <li><i class="fa fa-share-alt"></i></li>
                              <li><a href="#">Facebook</a>,</li>
                              <li><a href="#"> Twitter</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>



       {% endfor %}



               <!--Pagination-->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
        {% if blogs.has_previous %}
            <li class="page-item">
            <a class="page-link" href="?page={{ blogs.previous_page_number }}">Previous</a>
          </li>
        {% else %}
            <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
        {% endif %}

        {% if blogs.number|add:'-4' > 1 %}
            <li class="page-item"><a class="page-link" href="?page={{ blogs.number|add:'-5' }}">&hellip;</a></li>
        {% endif %}

        {% for i in blogs.paginator.page_range %}
            {% if blogs.number == i %}
                <li class="page-item active" aria-current="page">
              <span class="page-link">
                {{ i }}
                <span class="sr-only">(current)</span>
              </span>
            </li>
            {% elif i > blogs.number|add:'-5' and i < blogs.number|add:'5' %}
                 <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if blogs.paginator.num_pages > blogs.number|add:'4' %}
           <li class="page-item"><a class="page-link" href="?page={{ blogs.number|add:'5' }}">&hellip;</a></li>
        {% endif %}

        {% if blogs.has_next %}
            <li class="page-item">
            <a class="page-link" href="?page={{ blogs.next_page_number }}">Next</a>
          </li>
        {% else %}
            <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
          </li>
        {% endif %}
      </ul>
    </nav>
    <!--end of Pagination-->









                <div class="col-lg-12">
                  <div class="main-button">
                    <a href="{% url 'home' %}">View All Posts</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="sidebar">
              <div class="row">
                <div class="col-lg-12">



                  <div class="sidebar-item search">
                    <form id="search_form" name="gs"  action="{%url 'search_by_blog_title' %}">
                      <input type="text" name="title" class="searchText" placeholder="type to search..." autocomplete="on">
                    </form>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item recent-posts">
                    <div class="sidebar-heading">


                      <h2>Recent Posts</h2>


                    </div>
                    <div class="content">

                        {% for recent_blogs in recent_blogs %}
                      <ul>
                        <li><a href="{% url 'read_more' recent_blogs.id %}">
                          <h5>{{ recent_blogs.title }}</h5>
                          <span>{{ recent_blogs.created }}</span>
                        </a></li>
                      </ul>
                        {% endfor %}

                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item categories">
                    <div class="sidebar-heading">
                      <h2>Categories</h2>
                    </div>
                    <div class="content">
                      <ul>
                         <li><a href="{% url 's_by_Sports' %}" >- Sports ( working )</a></li>
                        <li><a href="#">- Awesome Layouts</a></li>
                        <li><a href="#">- Creative Ideas</a></li>
                        <li><a href="#">- Responsive Templates</a></li>
                        <li><a href="#">- HTML5 / CSS3 Templates</a></li>
                        <li><a href="#">- Creative &amp; Unique</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item tags">
                    <div class="sidebar-heading">
                      <h2>Tags ( Comming soon )</h2>
                    </div>
                    <div class="content">
                      <ul>
                        <li><a href="#">Lifestyle</a></li>
                        <li><a href="#">Creative</a></li>
                        <li><a href="#">Computer science</a></li>
                        <li><a href="#">Inspiration</a></li>
                        <li><a href="#">Motivation</a></li>
                        <li><a href="#">Bitcoin</a></li>
                        <li><a href="#">Freelancing</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <footer>

<div class="container">

<button type="button" class="btn btn-info btn-circle btn-xl" data-toggle="tooltip" data-placement="top" title="Blogs">
 {{ count_all_blogs }}
</button>


 <button type="button" class="btn btn-warning btn-circle btn-xl" data-toggle="tooltip" data-placement="top" title="Users">
{{ count_all_users }}
 </button>

</div>

<br>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <ul class="social-icons">
              <li><a href="#">Facebook</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Behance</a></li>
              <li><a href="#">Linkedin</a></li>
              <li><a href="#">Dribbble</a></li>
            </ul>
          </div>


          <div class="col-lg-12">
            <div class="copyright-text">
              <p>Copyright 2021 Stand
                  | zizopixels </p>
            </div>
          </div>
        </div>
      </div>
    </footer>

{#    <!-- Bootstrap core JavaScript -->#}
{#    <script src="vendor/jquery/jquery.min.js"></script>#}
{#    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>#}

     <!-- Additional Scripts -->
    <script src="/static/js/custom.js"></script>
    <script src="/static/js/owl.js"></script>
    <script src="/static/js/slick.js"></script>
    <script src="/static/js/isotope.js"></script>
    <script src="/static/js/accordions.js"></script>

    <script language = "text/Javascript">
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>






</body>
</html>
