{% extends "base.html" %}
{% load static %}
<!-- Home for auth users -->
{% block body %}


    <!-- Message from django will be printed here -->
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-secondary alert-dismissible shadow-inset fade show" role="alert">
                    <span
                            class="alert-inner--icon"><span class="fas fa-exclamation-circle"></span></span> <span
                    class="alert-inner--text"><strong>Warning!</strong> {{ message }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
            </div>
        {% endfor %}
    {% endif %}





    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">



          <a class="navbar-brand" href="{% url 'home' %}"><h2>zizo pixels <em>.</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>


          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>

              <li class="nav-item">
               <a class="nav-link" href="{% url 'add_blog'  %}">
        <span style="font-size: 1.5em; ">
                   <i class="fas fa-plus-square"></i>
        </span>
               </a>
              </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Activities
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'favorites' %}">Favorites</a>
              <a class="dropdown-item" href="{% url 'my_followed' %}">My followed</a>
             <a class="dropdown-item" href="{% url 'my_blogs' %}">My Blogs</a>
            <a class="dropdown-item" href="{% url 'my_followers' user.id%}">My followers</a>
        </div>
      </li>
                <li>
              Welcome - <a href="{% url 'profile' user.id %}" >
               {{ user.get_username }}
               </a>
                </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>


<br><br><br><br><br>







     <div class="profile container bg-light shadow mb-5 py-5">

              <h1 class="font text-center color">Your Profile</h1>
                    <hr> <br>
         <div class="row">
                     <div class="col-sm-6 text-center">

                        {% if  avatar.avatar.url == None %}
                             <img src="https://res.cloudinary.com/drp0eidwz/image/upload/v1619068825/media/profile_pgiwth.png" alt="" >
                        {% else %}
                           <img src="{{ avatar.avatar.url }}" alt="">

                        {% endif %}
                    </div>

        <div class="col-sm-6">


             <a class="" href="{% url 'favorites' %}">Favorites</a>
            |
              <a class="" href="{% url 'my_followed' %}">My followed</a>
            |
             <a class="" href="{% url 'my_blogs' %}">My Blogs</a>
            |
            <a class="" href="{% url 'my_followers' user.id%}">My followers</a>

                            <br>
             <br>

        <h3>@{{ user }}
    <a class="" href="{% url 'edit_profile'  user.id%}">

                  <span style="font-size: 1em; color: dimgray;">
                   <i class="fas fa-edit"></i>
                 </span>
     </a></h3><br>

                             <h5>{{user.email}}</h5>


             <br>
             last login : {{ user.last_login }}
    <br>
   Joined on  : {{ user.date_joined }}

<br>

              <a class="" href="{% url 'logout' %}">
                 <button type="button" class="btn btn-success"> Logout</button>
              </a>


                     </div>
             </div>

      </div>






<footer>

<br>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <ul class="social-icons">
              <li><a href="#">Facebook</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Behance</a></li>
              <li><a href="#">Linkedin</a></li>
              <li><a href="#">Dribbble</a></li>
            </ul>
          </div>


          <div class="col-lg-12">
            <div class="copyright-text">
              <p>Copyright 2021 Stand
                  | zizopixels </p>
            </div>
          </div>
        </div>
      </div>
    </footer>




{% endblock %}
