{% extends "base.html" %}
{% load static %}
<!-- Home for auth users -->
{% block body %}


    <!-- Message from django will be printed here -->
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-secondary alert-dismissible shadow-inset fade show" role="alert">
                    <span
                            class="alert-inner--icon"><span class="fas fa-exclamation-circle"></span></span> <span
                    class="alert-inner--text"><strong>Warning!</strong> {{ message }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
            </div>
        {% endfor %}
    {% endif %}






    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="{% url 'home' %}"><h2>zizo pixels <em>.</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>



      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Activities
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'favorites' %}">Favorites</a>
              <a class="dropdown-item" href="{% url 'my_followed' %}">My followed</a>
             <a class="dropdown-item" href="{% url 'my_blogs' %}">My Blogs</a>
            <a class="dropdown-item" href="{% url 'my_followers' user.id%}">My followers</a>
        </div>
      </li>



              <li class="nav-item">
               <a class="" href="{% url 'add_blog'  %}">Add blog </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="about.html">About Us</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact Us</a>
              </li>


               Welcome {{ user.get_username }} //

     <a class="" href="{% url 'logout' %}">Logout</a>

            </ul>
          </div>
        </div>



      </nav>
    </header>






<br><br><br><br><br>
    <br><br><br><br><br>
    <br><br><br><br><br>








    <section class="contact-us">
      <div class="container">
        <div class="row">

          <div class="col-lg-12">
            <div class="down-contact">
              <div class="row">
                <div class="col-lg-8">
                  <div class="sidebar-item contact-form">
                      <div class="content">
                      <form action="{% url 'update_profile' user.id%}" method="post">
                        {% csrf_token %}
                          <div class="row">

                          <div class="col-md-6 col-sm-12">
                            <fieldset>
                              <input name="username" type="text" id="username" value="{{ user.username }}" required="">
                            </fieldset>
                          </div>

                          <div class="col-lg-12">
                            <fieldset>
                              <input name="email" type="text" id="email" value="{{ user.email }}" required="">
                            </fieldset>
                          </div>
                          <div class="col-lg-12">
                            <fieldset>
                              <button type="submit" id="form-submit" class="main-button">Add</button>
                            </fieldset>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>



              </div>
            </div>
          </div>

          <div class="col-lg-12">
            <div id="map">
              <iframe src="https://maps.google.com/maps?q=Av.+L%C3%BAcio+Costa,+Rio+de+Janeiro+-+RJ,+Brazil&t=&z=13&ie=UTF8&iwloc=&output=embed" width="100%" height="450px" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
          </div>

        </div>
      </div>
    </section>



















   <div class="container">



   name : {{ user }}
       <br>
   email : {{ user.email }}
   <br>
   last login : {{ user.last_login }}
    <br>
   Joined on  : {{ user.date_joined }}






</div>










{% endblock %}
