{% extends "base.html" %}
{% load static %}
<!-- Home for auth users -->
{% block body %}


    <!-- Message from django will be printed here -->
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-secondary alert-dismissible shadow-inset fade show" role="alert">
                    <span
                            class="alert-inner--icon"><span class="fas fa-exclamation-circle"></span></span> <span
                    class="alert-inner--text"><strong>Warning!</strong> {{ message }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
            </div>
        {% endfor %}
    {% endif %}







    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">



          <a class="navbar-brand" href="{% url 'home' %}"><h2>zizo pixels <em>.</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>


          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>

              <li class="nav-item">
               <a class="nav-link" href="{% url 'add_blog'  %}">
        <span style="font-size: 1.5em; ">
                   <i class="fas fa-plus-square"></i>
        </span>
               </a>
              </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Activities
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'favorites' %}">Favorites</a>
              <a class="dropdown-item" href="{% url 'my_followed' %}">My followed</a>
             <a class="dropdown-item" href="{% url 'my_blogs' %}">My Blogs</a>
            <a class="dropdown-item" href="{% url 'my_followers' user.id%}">My followers</a>
        </div>
      </li>
                <li>
              Welcome - <a href="{% url 'profile' user.id %}" >
               {{ r_user }}
               </a>
                </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>


<br><br><br><br><br>





     <div class="profile container bg-light shadow mb-5 py-5">

              <h1 class="font text-center color">Profile</h1>
                    <hr> <br>
         <div class="row">
                     <div class="col-sm-6 text-center">

                        {% if  blog_user_avatar.avatar.url == None %}
                             <img src="/media/profile.png" alt="" >
                        {% else %}
                           <img src="{{ blog_user_avatar.avatar.url }}" alt="">

                        {% endif %}
                    </div>

        <div class="col-sm-6">
                             <h3>@{{ get_user }}


       {% if check1.boolean == True%}
                      <a href="{% url 'unfollow' check1.id%}" >
                             <button type="button" class="btn btn-outline-info">Following</button>
                        </a>
       {% else %}
            <a  href="{% url 'follow_user' user.id%}" >
                              <button type="button" class="btn btn-outline-info">Follow</button>
                        </a>
        {% endif %}

                             </h3>


            <br>
                             <h5>{{users.email}}</h5>






       Blogs  {{ blog_count }} | Followers  {{ followers_count }}

                     </div>
             </div>

      </div>







    <section class="blog-posts">

      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="all-blog-posts">
              <div class="row">


       {% for all_blogs in all_blogs %}
                <div class="col-lg-12">
                  <div class="blog-post">
                     <div class="blog-thumb">
                        <a href="{% url 'read_more' all_blogs.id %}">
                      <img src="{{ all_blogs.image.url }}" alt="">
                        </a>
                    </div>
                    <div class="down-content">

                      <span>  {{all_blogs.title }}</span>


                      <ul class="post-info">
                         <li><a href="#">{{ all_blogs.created }}</a></li>
                      </ul>
                      <p>{{ all_blogs.content }}<a href="{% url 'read_more' all_blogs.id %}"> read more </a> </p>
                      <div class="post-options">
                        <div class="row">
                          <div class="col-6">
                            <ul class="post-tags">
                              <li><i class="fa fa-tags"></i></li>

                              <li><a href="#">{{ all_blogs.category }}</a></li>
                            </ul>
                          </div>
                          <div class="col-6">
                            <ul class="post-share">
                              <li><i class="fa fa-share-alt"></i></li>
                              <li><a href="#">Facebook</a>,</li>
                              <li><a href="#"> Twitter</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>



       {% endfor %}




                <div class="col-lg-12">
                  <div class="main-button">
                    <a href="blog.html">View All Posts</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="sidebar">
              <div class="row">
                <div class="col-lg-12">
                  <div class="sidebar-item search">
                    <form id="search_form" name="gs" method="GET" action="#">
                      <input type="text" name="q" class="searchText" placeholder="type to search..." autocomplete="on">
                    </form>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item recent-posts">
                    <div class="sidebar-heading">
                      <h2>Recent Posts</h2>
                    </div>
                    <div class="content">
                      <ul>
                        <li><a href="post-details.html">
                          <h5>Vestibulum id turpis porttitor sapien facilisis scelerisque</h5>
                          <span>May 31, 2020</span>
                        </a></li>
                        <li><a href="post-details.html">
                          <h5>Suspendisse et metus nec libero ultrices varius eget in risus</h5>
                          <span>May 28, 2020</span>
                        </a></li>
                        <li><a href="post-details.html">
                          <h5>Swag hella echo park leggings, shaman cornhole ethical coloring</h5>
                          <span>May 14, 2020</span>
                        </a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item categories">
                    <div class="sidebar-heading">
                      <h2>Categories</h2>
                    </div>
                    <div class="content">
                      <ul>
                        <li><a href="#">- Nature Lifestyle</a></li>
                        <li><a href="#">- Awesome Layouts</a></li>
                        <li><a href="#">- Creative Ideas</a></li>
                        <li><a href="#">- Responsive Templates</a></li>
                        <li><a href="#">- HTML5 / CSS3 Templates</a></li>
                        <li><a href="#">- Creative &amp; Unique</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item tags">
                    <div class="sidebar-heading">
                      <h2>Tag Clouds</h2>
                    </div>
                    <div class="content">
                      <ul>
                        <li><a href="#">Lifestyle</a></li>
                        <li><a href="#">Creative</a></li>
                        <li><a href="#">HTML5</a></li>
                        <li><a href="#">Inspiration</a></li>
                        <li><a href="#">Motivation</a></li>
                        <li><a href="#">PSD</a></li>
                        <li><a href="#">Responsive</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <ul class="social-icons">
              <li><a href="#">Facebook</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Behance</a></li>
              <li><a href="#">Linkedin</a></li>
              <li><a href="#">Dribbble</a></li>
            </ul>
          </div>
          <div class="col-lg-12">
            <div class="copyright-text">
              <p>Copyright 2020 Stand Blog Co.

                 | Design: <a rel="nofollow" href="https://templatemo.com" target="_parent">TemplateMo</a></p>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Additional Scripts -->
    <script src="assets/js/custom.js"></script>
    <script src="assets/js/owl.js"></script>
    <script src="assets/js/slick.js"></script>
    <script src="assets/js/isotope.js"></script>
    <script src="assets/js/accordions.js"></script>

    <script language = "text/Javascript">
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>



{% endblock %}
